body {
    background-color: #f5f5dc; /* Beige color */
  }
  
  .homepage {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #add8e6; /* Light Blue color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #8b4513; /* Saddle Brown color */
  }
  